.imgContainer {
    border: 2px black solid;
    position: relative;
    display: none;
}


.faceBox {
    display: none;
    position: absolute;
    z-index: 1;
    border: 2px solid #7000FF;
}

.faceBox:hover {
    border: 2px solid #FF0000;
}