.imgContainer {
    border: 2px black solid;
    position: relative;
    display: none;
}

.faceBoxContainer{
    position: relative;
}

.faceBox {
    display: none;
    position: absolute;
    z-index: 1;
    border: 2px solid #7000FF;
}

.faceBox:hover {
    border: 2px solid #FF0000;
}

.deleteButton {
    position: absolute;
    z-index: 2;
    right: -120px;
    top: -10px;
    width:114px;
    height:26px;
}