.carouselContainer {
    margin-top: 20px;
}

.selectorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.selectorContainer p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.126px;
}

.arrows {
    cursor: pointer;
}

.spinner {
    object-fit: fill;
    transition: all 0.4s;
    z-index: 2;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}